
{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@utilites": "./src/utilites",
          "@services": "./src/services",
          "@assets": "./assets"
        }
      }
    ]
  ]
}